<app-header></app-header>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <span class="signup-title">User Signup</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="form-group input-group d-flex align-items-center">
                <input type="text" class="form-control name-input" name="fullname" id="fullnameid" placeholder="Type fullname" minlength="1" maxlength="50" autocomplete="off" [(ngModel)]="fullName" #fullname="ngModel" required>
                <button class="btn btn-action-name" type="button">
                    <span><i class="fa fa-user-circle" aria-hidden="false"></i></span>
                </button>
            </div>
            <span class="error-msg" *ngIf="fullname?.invalid && (fullname?.dirty || fullname?.touched)">
                <span *ngIf="fullname?.errors.required">Fullname is required.</span>
            </span>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group input-group d-flex align-items-center">
                <input type="text" class="form-control user-input" name="username" id="userid" placeholder="Type username" minlength="1" maxlength="50" autocomplete="off" [(ngModel)]="userName" #username="ngModel" required>
                <button class="btn btn-action-user" type="button">
                    <span><i class="fa fa-user" aria-hidden="false"></i></span>
                </button>
            </div>
            <span class="error-msg" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                <span *ngIf="username?.errors.required">Username is required.</span>
            </span>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group input-group d-flex align-items-center">
                <input type="text" class="form-control email-input" name="emailname" id="emailid" placeholder="Type email" minlength="1" maxlength="50" autocomplete="off" [(ngModel)]="userEmail" #emailname="ngModel" required>
                <button class="btn btn-action-email" type="button">
                    <span><i class="fa fa-envelope" aria-hidden="false"></i></span>
                </button>
            </div>
            <span class="error-msg" *ngIf="emailname?.invalid && (emailname?.dirty || emailname?.touched)">
                <span *ngIf="emailname?.errors.required">Email is required.</span>
            </span>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group input-group d-flex align-items-center">
                <input type="password" class="form-control password-input" name="pwdname" id="pwdid" placeholder="Type password" minlength="1" maxlength="50" autocomplete="off" [(ngModel)]="userPassword" #pwdname="ngModel" required>
                <button class="btn btn-action-pwd" type="button">
                    <span><i class="fa fa-lock" aria-hidden="false"></i></span>
                </button>
            </div>
            <span class="error-msg" *ngIf="pwdname?.invalid && (pwdname?.dirty || pwdname?.touched)">
                <span *ngIf="pwdname?.errors.required">Password is required.</span>
            </span>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group input-group d-flex align-items-center">
                <input type="password" class="form-control password-input" name="confirmpwdname" id="pwdid" placeholder="Type confirm password" minlength="1" maxlength="50" autocomplete="off" [(ngModel)]="userConfirmPwd" #confirmpwdname="ngModel" required>
                <button class="btn btn-action-pwd" type="button">
                    <span><i class="fa fa-lock" aria-hidden="false"></i></span>
                </button>
            </div>
            <span class="error-msg" *ngIf="confirmpwdname?.invalid && (confirmpwdname?.dirty || confirmpwdname?.touched)">
                <span *ngIf="confirmpwdname?.errors.required">Confirm Password is required.</span>
            </span>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-group input-group d-flex justify-content-between align-items-center">
                <button class="btn btn-action-signup" type="submit" [disabled]="setSignupFormValidation()" (click)="userSignupData()">
                    <span><i class="fa fa-sign-in" aria-hidden="false"></i></span>
                    <span class="ml-2">Signup</span>
                </button>
                <a class="forgot-pwd-link">Forgot Password?</a>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 mt-3">
            <div class="form-group input-group d-flex justify-content-center align-items-center">
                <a class="already-user">Already a User?</a>
                <a [routerLink]="['/login']" class="login-link ml-2">Login</a>
            </div>
        </div>
    </div>
</div>