<app-header></app-header>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <span class="login-title">User Forgot Password</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 form-field" *ngIf="formStep == 'email'">
            <div class="form-group input-group d-flex align-items-center">
                <input type="text" class="form-control email-input" name="emailname" id="emailid"
                    placeholder="Type email" minlength="1" maxlength="50" autocomplete="off" [(ngModel)]="userEmail"
                    #emailname="ngModel" required>
                <button class="btn btn-action-email" type="button">
                    <span><i class="fa fa-envelope" aria-hidden="false"></i></span>
                </button>
            </div>
            <span class="error-msg" *ngIf="emailname?.invalid && (emailname?.dirty || emailname?.touched)">
                <span *ngIf="emailname?.errors.required">Email is required.</span>
            </span>
        </div>
        <div class="col-md-6 offset-md-3 form-field" *ngIf="formStep == 'otp'">
            <div class="form-group input-group d-flex align-items-center">
                <!-- <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input> -->
                <div class="form-group input-group d-flex align-items-center">
                    <input type="number" class="form-control otp-input" name="otpname" id="otpid"
                        placeholder="Type otp code" minlength="1" maxlength="6" autocomplete="off" [(ngModel)]="userOtpCode"
                        #otpname="ngModel" required>
                    <button class="btn btn-action-otp" type="button">
                        <span><i class="fa fa-keyboard-o" aria-hidden="false"></i></span>
                    </button>
                </div>
                <span class="error-msg" *ngIf="otpname?.invalid && (otpname?.dirty || otpname?.touched)">
                    <span *ngIf="otpname?.errors.required">OTP is required.</span>
                </span>
            </div>
            <br>
            <div class="otp-timer d-flex justify-content-start align-items-baseline">
                <span>Please verify OTP code in</span>
                <p class="ml-2">{{ showTimer }}</p>
                <em class="ml-2">minutes.</em>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 form-field" *ngIf="formStep == 'password'">
            <div class="form-group input-group d-flex align-items-center">
                <input type="password" class="form-control password-input" name="pwdname" id="pwdid"
                    placeholder="Type password" minlength="1" maxlength="50" autocomplete="off"
                    [(ngModel)]="userPassword" #pwdname="ngModel" required>
                <button class="btn btn-action-pwd" type="button">
                    <span><i class="fa fa-lock" aria-hidden="false"></i></span>
                </button>
            </div>
            <span class="error-msg" *ngIf="pwdname?.invalid && (pwdname?.dirty || pwdname?.touched)">
                <span *ngIf="pwdname?.errors.required">Password is required.</span>
            </span>
        </div>
        <div class="col-md-6 offset-md-3 form-field mt-4" *ngIf="formStep == 'password'">
            <div class="form-group input-group d-flex align-items-center">
                <input type="password" class="form-control password-input" name="confirmpwdname" id="confirmpwdid" placeholder="Type confirm password" minlength="1" maxlength="50" autocomplete="off" [(ngModel)]="userConfirmPassword" #confirmpwdname="ngModel" required>
                <button class="btn btn-action-pwd" type="button">
                    <span><i class="fa fa-key" aria-hidden="false"></i></span>
                </button>
            </div>
            <span class="error-msg" *ngIf="confirmpwdname?.invalid && (confirmpwdname?.dirty || confirmpwdname?.touched)">
                <span *ngIf="confirmpwdname?.errors.required">Confirm Password is required.</span>
            </span>
        </div>
        <!-- Form Buttons -->
        <div class="col-md-6 offset-md-3 mt-4" *ngIf="formStep == 'email'">
            <div class="form-group input-group d-flex justify-content-between align-items-center">
                <button class="btn btn-action-send" type="submit" 
                    [disabled]="setEmailFormValidation() || spinner"
                    (click)="sendOTPtoMail()">
                    <span *ngIf="!spinner"><i class="fa fa-sign-in" aria-hidden="false"></i></span>
                    <span *ngIf="!spinner" class="ml-2">Send</span>
                    <span *ngIf="spinner"><i class="fa fa-spinner fa-spin" aria-hidden="false"></i></span>
                    <span *ngIf="spinner" class="ml-2">Sending...</span>
                </button>
                <a class="forgot-pwd-link" [routerLink]="['/login']">Back To Login?</a>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 mt-2" *ngIf="formStep == 'otp'">
            <div class="form-group input-group d-flex justify-content-start align-items-center">
                <button class="btn btn-action-back" type="submit" (click)="formStep = 'email'">
                    <span><i class="fa fa-arrow-circle-o-left" aria-hidden="false"></i></span>
                    <span class="ml-2">Back</span>
                </button>
                <button class="btn btn-action-send ml-2" type="submit" 
                    [disabled]="setOtpFormValidation() || spinner"
                    (click)="verifyUserOTP()">
                    <span *ngIf="!spinner"><i class="fa fa-sign-in" aria-hidden="false"></i></span>
                    <span *ngIf="!spinner" class="ml-2">Verify</span>
                    <span *ngIf="spinner"><i class="fa fa-spinner fa-spin" aria-hidden="false"></i></span>
                    <span *ngIf="spinner" class="ml-2">Verifying...</span>
                </button>
                <!-- <a class="forgot-pwd-link float-right" [routerLink]="['/login']">Back To Login?</a> -->
            </div>
        </div>
        <div class="col-md-6 offset-md-3 mt-4" *ngIf="formStep == 'password'">
            <div class="form-group input-group d-flex justify-content-start align-items-center">
                <button class="btn btn-action-back" type="submit" (click)="formStep = 'email'">
                    <span><i class="fa fa-arrow-circle-o-left" aria-hidden="false"></i></span>
                    <span class="ml-2">Back</span>
                </button>
                <button class="btn btn-action-update ml-2" type="submit" 
                    [disabled]="setPasswordFormValidation() || spinner"
                    (click)="updateNewPassword()">
                    <span *ngIf="!spinner"><i class="fa fa-sign-in" aria-hidden="false"></i></span>
                    <span *ngIf="!spinner" class="ml-2">Update</span>
                    <span *ngIf="spinner"><i class="fa fa-spinner fa-spin" aria-hidden="false"></i></span>
                    <span *ngIf="spinner" class="ml-2">Updating...</span>
                </button>
                <!-- <a class="forgot-pwd-link float-right" [routerLink]="['/login']">Back To Login?</a> -->
            </div>
        </div>
    </div>
</div>